fastapi
uvicorn[standard]
pydantic-settings
python-multipart
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
groq
chromadb
pymupdf
python-docx
python-pptx
pandas
openpyxl
pytesseract
Pillow
requests
google-auth-oauthlib
